### **Questions!!**

- What Feature That may affect Heart disease?

- Does Age Affect heart Failure?

- Does Chest Pain increase the chance that patient will be have heart disease?

# Expolration Data Analysis

## Data Wrangling

In [1]:
# implement constant variables
DATA_PATH = './data/raw/heart.csv'
PROCESS_DATA_PATH = './data/Process/Processed_Heart.pkl'

### First of all I should see if data need any cleaning

In [3]:
# import the important pakages
import pandas as pd
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [4]:
# Read Raw Data
heart = pd.read_csv(DATA_PATH)
display(heart.head())

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

#### **Clean Data**

In [5]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [7]:
heart.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [9]:
heart.duplicated().sum()

0

In [10]:
heart

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [12]:
heart['RestingECG'].value_counts()

Normal    552
LVH       188
ST        178
Name: RestingECG, dtype: int64

In [13]:
heart['ChestPainType'].value_counts()

ASY    496
NAP    203
ATA    173
TA      46
Name: ChestPainType, dtype: int64

In [21]:
def age_Range(val):
    if val > 25 and val <= 35:
        return '25-35'
    elif val > 35 and val <= 45:
        return '36-45'
    elif val > 45 and val <= 55:
        return '46-55'
    elif val > 55 and val <= 65:
        return '56-65'
    else:
        return '66-80'

In [22]:
newHeart = heart.copy()
# newHeart['Age_Ranges'] = newHeart.loc[(heart.Age.values > 25) & (heart.Age.values <= 35), 'Age_Ranges'] = '25-35'
# newHeart['Age_Ranges'] = newHeart.loc[(heart.Age.values > 35) & (heart.Age.values <= 45), 'Age_Ranges'] = '36-45'
# newHeart['Age_Ranges'] = newHeart.loc[(heart.Age.values > 45) & (heart.Age.values <= 55), 'Age_Ranges'] = '46-55'
# newHeart['Age_Ranges'] = newHeart.loc[(heart.Age.values > 55) & (heart.Age.values <= 65), 'Age_Ranges'] = '56-65'
# newHeart['Age_Ranges'] = newHeart.loc[(heart.Age.values > 65) & (heart.Age.values <= 80), 'Age_Ranges'] = '66-80'
newHeart['Age_Ranges'] = newHeart['Age'].apply(age_Range)
newHeart.head(10)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Age_Ranges
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,36-45
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,46-55
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,36-45
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,46-55
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,46-55
5,39,M,NAP,120,339,0,Normal,170,N,0.0,Up,0,36-45
6,45,F,ATA,130,237,0,Normal,170,N,0.0,Up,0,36-45
7,54,M,ATA,110,208,0,Normal,142,N,0.0,Up,0,46-55
8,37,M,ASY,140,207,0,Normal,130,Y,1.5,Flat,1,36-45
9,48,F,ATA,120,284,0,Normal,120,N,0.0,Up,0,46-55

In [23]:
newHeart['Gender'] = newHeart['Sex'].apply(lambda x: 0 if x == 'M' else 1)
newHeart.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Age_Ranges,Gender
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,36-45,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,46-55,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,36-45,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,46-55,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,46-55,0

In [24]:
newHeart['ExerciseAngina_num'] = newHeart['ExerciseAngina'].apply(lambda x: 0 if x == 'N' else 1)

In [ ]:
newHeart.to_pickle(PROCESS_DATA_PATH)